body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    max-width: 1440px;
    height: 100vh;
    overflow: hidden;
    font-family: "Outfit", sans-serif;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: grey;
}

h2 {
    font-size: 18px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

#title {
    padding-inline: 1rem;
}

.container {
    background-color: white;
    padding: .8rem;
    text-align: center;
    border-radius: 5%;
    width: min-content;
}

.container-info-qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-info-qrcode > img {
    border-radius: 5%;
    max-width: 250px;
    max-height: 300px;
    padding-bottom: 0.5rem;
}
